
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: black; /* Change the color to your preference */
    border-radius: 0px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Change the color to your preference */
    border-radius: 6px;
}

body {
    overflow-y: hidden;
}

.container {
    flex-basis: 50%;
    max-height: 100vh;
    overflow-y: scroll;
    /*scroll-snap-type: y mandatory;*/
}

section {
    scroll-snap-align: start;
    
    height: 100vh;
    font-size: 1.4rem;

    position: relative;

    display: flex;
    flex-flow: column;
}



/* SECTION 1 */
#section1
{
    background-image: #e3e3e3;

    align-items: center;

    justify-content: center;

    height: 100vh;

    
}

#backToMenuButton
{
    position: absolute;

    margin: 20px;

    width: 180px;
    height: 40px;

    text-align: center;
    line-height: 40px;

    color: black;

    top: 0;
    left: 0;

    cursor: pointer;

    transition: 0.5s font-weight ease;
}

#backToMenuButton:hover
{
    font-weight: bolder;
}

#section1_div 
{
    width: 800px;

    padding: 20px;

    text-align: left;

    color: white;
}

h1
{
    position: relative;



    color: black;

    font-size: 10vw;

    margin-top: 50px;
    z-index: 2;

    
}


a
{
    color: black;

    background: white;

    border: 10px solid black;
}

img
{
    position: absolute;

    top: 55vh;

    right: 0;

    width: 15vw;
}