@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*::before {
    margin:0;
    padding: 0;
}

*::after {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
}