@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;

    
}

html {
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(196,0,255,1) 0%, rgba(0,146,255,1) 100%);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

.landingDiv {
    height: 100vh;
    width: 100vw;
    background-color: black;

    position: relative;
    overflow: hidden;
}

.octaneImage {
    height: 70vh;
    width: 80vw;
    background: url("images/octane background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    
    position: relative;
    top: 10vh;
}

.landingText {
    width: 500px;
    height: 200px;

    position: relative;
    top: 15vh;
    margin-left: auto;
    margin-right: auto;


    z-index: 1;
}

.sussexLogo {

    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.landingText h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: white;

    

    text-align: center;
}

.landingText a {
    height: 40px;
    width: 200px;

    color: white;

    border: none;
    border-radius: 40px;

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(196,0,255,1) 0%, rgba(0,146,255,1) 100%);
    
    display: block;

    text-decoration: none;

    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;

    text-align: center;
    line-height: 40px;
}

.landingText a:hover {
    background: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(196,0,255,0.7) 0%, rgba(0,146,255,0.7) 100%);
    color: white;
}




#decalDownload {
    height: 1440px;
    width: 100vw;

    background: #f2f2f2;
}

#decalDownload h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;

    font-size: 3em;

    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

#decalDownload table {
    margin-left: auto;
    margin-right: auto;
}


#decalDownload table td {
    padding: 30px;
}

.showcaseBox {
    height: 460px;
    width: 320px;
    background: white;

    box-shadow: 0 0 15px 0px rgba(0,0,0,0.3);

    transition: 0.5s ease-in-out;
}

.showcaseBox:hover{
    box-shadow: 0 0 15px 0px rgba(0,0,0,0.5);
}

.showcaseBox:hover .showcaseImage1{


    opacity: 0;
}

.showcaseBox:hover .showcaseImage2{

    opacity: 100%;
}

.imageContainer {
    height: 280px;
    width: 280px;

    background: black;

    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;

    background-clip: content-box;

    display: block;

    position: relative;

    transition: 0.5s ease-in-out;
}

.showcaseBox:hover .imageContainer {
}

.showcaseImage1 {
    height: 280px;
    width: 280px;

    margin-left: auto;
    margin-right: auto;

    display: block;

    object-fit: cover;

    transition: 0.5s ease-in-out;
}

.showcaseImage2 {
    height: 280px;
    width: 280px;

    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    position: absolute;

    opacity: 0;

    top: 0;

    display: block;

    object-fit: cover;

    transition: 0.5s ease-in-out;
}

.downloadButton {
    height: 40px;
    width: 200px;

    color: white;

    border: none;
    border-radius: 40px;

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(196,0,255,1) 0%, rgba(0,146,255,1) 100%);
    
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

    text-align: center;
    line-height: 40px;
}

.downloadButton:hover {
    background: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(196,0,255,0.7) 0%, rgba(0,146,255,0.7) 100%);
    color: white;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    width: 280px;

    display: box;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;

    padding-top: 20px;
    padding-bottom: 10px;
}

.downloadInstructions {
    height: 6800px;
    width: 100vw;

    color: white;

    background: #1f1f1f;
}

.downloadInstructions h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;

    font-size: 3em;

    color: white;

    padding-top: 100px;
    padding-bottom: 90px;
    text-align: center;
}

.downloadInstructions table {
    margin-left: auto;
    margin-right: auto;

    width: 1000px;
}


.downloadInstructions table td{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;

    padding: 20px;

}

.downloadInstructions table td img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.downloadInstructions table td a {
    color: white;
}

a:visited { 
    color: white;
}

a:hover {
    color: white;
}
a:active {
    color: white;
}

.downloadWarning {
    color: yellow;
}

